@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
    body{
        @apply font-[Raleway];
    }
    li{
        @apply px-4;
        @apply cursor-pointer;
    }
}

body::-webkit-scrollbar {
    width: 8px;
  }
  
  body::-webkit-scrollbar-track {
    background-color: #1d1e22;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #d4d4dc;
    border-radius: 10px;
    transition: 250ms;
    opacity: 0.8;
  }

  .content-div {
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    height: 250px;
  }

  .content-div:hover{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), hsla(240, 6%, 10%, 0.8)) !important;
  }